body{
    background-color: #deb5ac;
}
@font-face {
    font-family: mulish;
    src: url(mulish.ttf);
}
div.container{
    box-sizing: border-box;
    height: 500px;
    width: 600px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 20px 0px;
    font-family: mulish;
    border-radius: 30px;
    box-shadow: 0 0 20px #aa3217;
}
.logo{
    width: 200px;
    border-radius: 50%;
    border: #dbbeb7 dashed;
}
.title{
    font-size: 24px;
    border-bottom:#e2beb6 solid;
    border-width: 5px;
    width: 200px;
    margin: auto;
    padding-top: 10px;
    color: #d17e6c;
}
.desc{
    font-size: 20px;
    padding-top: 10px;
    color: #c37c6d;
}
.social{
    background-color:#e2a597;
}
.social img{
    margin: 20px;
    width: 60px;
    margin-bottom: 10px;
}
